{% load cms_tags sekizai_tags %}
{% load menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% page_attribute page_title %}</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
    <meta charset="UTF-8">
    {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}
<div class="container">
    <div id="header">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        {% show_menu 0 0 0 0 'menu.html' %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="message"></div>
        <div class="contact">
            <h1>Амбреллас</h1>
            <address><span class='telefon'>(812) 920-62-12</span></address>
        </div>
        <div class="slider">
            {% placeholder 'slider' %}
        </div>
    </div><!-- header -->
    <div id="main" class='well'>
        <div class="row-fluid">
            <div class="span12">
                <div class="content">
{#                    <a href="#" class='btn btn-primary btn-large'><i class="icon-shopping-cart icon-white"></i> Купить</a>#}
                    {% placeholder "content" %}
                </div>
            </div>
        </div>
    </div><!-- main -->
    <div id="footer"></div><!-- footer -->
</div>
<script src="{{ MEDIA_URL }}js/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
{% render_block "js" %}
</body>
</html>